// Colors
$color-meli: #fff159;
$color-bg-meli: #e7e7e7;
$color-blue-light: #3483fa;
$color-green-dark: #2aaa5a;
$color-white-1: #f1f7fc;
$color-gray-light-1: #333;
$color-black: #000;

// Fonts
$font-primary: "Montserrat", sans-serif;

// Box shadow
$box-shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

// Border radius
$border-radius-sm: 0.45rem;

// Borders
$border-card-md: 1px solid rgba(0, 0, 0, 0.05);
